name: "Terraform Destroy"

on:
  workflow_dispatch: # Allows manual trigger from the GitHub UI

jobs:
  terraform-destroy:
    runs-on: self-hosted
    env:
      TF_VAR_public_key: ${{ secrets.SSH_PUBLIC_KEY }}
      TF_VAR_instance_type: "t3.micro"
      TF_VAR_os: "ami-0b6c6ebed2801a5cb"
      TF_VAR_name: "test"

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Destroy
        # The -auto-approve flag is mandatory for CI/CD!
        run: terraform destroy -auto-approve -lock=false
